html{
    display: flex;
    justify-content: center;
    margin-left: -7px;
}
body{
    width: 100%;
    /* height: 1000px; */
    background: #fff;
    font-family: "Raleway", sans-serif;
    touch-action: pan-y;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
a{
    text-decoration: none;
    color: #fff;
}
.bgoflogo{
    width: 100%;
    background: #fff;
    /* border: 1px solid #000000; */
    display: flex;
    justify-content: center;
    margin-top: -10px;
    position: fixed;
    z-index: 1;
}
.logo{
    width: 400px;
}
.container{
    margin-top: 200px;
    width: 100%;
    height: 500px;
    /* border: 1px solid #000000; */
    position: relative;
    font-family: "Raleway";
    position: fixed;
}
.pro{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    /* border: 1px solid #000000; */
    position: absolute;
    margin-top: 70px;
    margin-left: 25%;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.75));
    /* position: fixed; */
}
.name{
    /* position: absolute; */
    font-size: 60px;
    /* width: 100%; */
    font-style: normal;
    font-weight: 400;
    color: #000000;
    display: flex;
    margin-left: 55%;
    margin-top: 150px;  
}
.title{
    font-size: 40px;
    /* width: 100%; */
    font-style: normal;
    font-weight: 400;
    color: #000000;
    display: flex;
    margin-left: 55.5%;
    margin-top: 10px;  
}
.socialicons{
    z-index: 2;
    position: absolute;
    margin-top: 430px;
    margin-left: 53.5%
}
.i1{
    width: 50px;
    position: absolute;
    display: flex;
    margin-left: 80px;
    margin-top: 60px;
    /* border: 1px solid #fff; */
}
.i2{
    width: 50px;
    position: absolute;
    display: flex;
    margin-left: 150px;
    margin-top: 60px;
    /* border: 1px solid #fff; */
}
.i3{
    width: 50px;
    position: absolute;
    display: flex;
    margin-left: 220px;
    margin-top: 60px;
    /* border: 1px solid #fff; */
}
.i4{
    width: 50px;
    position: absolute;
    display: flex;
    margin-left: 290px;
    margin-top: 65px;
    /* border: 1px solid #fff; */
}
.container-2{
    display: none;
}


/* For Mobile Screens */
@media only screen and (max-width: 600px){
    .logo{
        width: 200px;
        margin-top: 15px;
    }
    .bgoflogo{
        /* border: 1px solid #000000; */
    }
    .container{
        margin-top: 20px;
        width: 100%;
        height: 550px;
        /* border: 1px solid #000000; */
        position: relative;
        display: flex;
        justify-content: center;
        position: fixed;
    }
    .pro{
        width: 270px;
        border-radius: 50%;
        /* border: 1px solid #000000; */
        margin-left: 0;
        /* margin-top: 60px; */
        position: fixed;
        z-index: 0;
    }
    .name{
        position: absolute;

        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        color: #000000;
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 370px;
        margin-left: 0;  
        position: fixed;
    }
    .title{
        /* display: none; */
        font-size: 20px;
        font-style: normal;
        /* font-weight: 400; */
        color: #000000;
        display: flex;
        margin-left: 0;
        margin-top: 420px;  
        position: fixed;
    }
    .socialicons{
        position: fixed;
        margin-top: 420px;
        margin-left: 0;
    }
    .container-2{
        display: block;
        position: absolute;
        z-index: 100;
        width: 100%;
        margin-top: 130%;
        margin-left: -1px;
        height: 810px;
        background: #000000;
        /* border-radius: 50px; */
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    .line{
        position: absolute;
        width: 120px;
        /* color: #fff; */
        margin-top: 20px;
        /* background: #fff; */
        margin-left: 147px;
        border: 2px solid #fff;
        border-radius: 5px;
    }
    .i1{
        width: 50px;
        position: absolute;
        display: flex;
        margin-left: 80px;
        margin-top: 60px;
        /* border: 1px solid #fff; */
    }
    .i2{
        width: 50px;
        position: absolute;
        display: flex;
        margin-left: 150px;
        margin-top: 60px;
        /* border: 1px solid #fff; */
    }
    .i3{
        width: 50px;
        position: absolute;
        display: flex;
        margin-left: 220px;
        margin-top: 60px;
        /* border: 1px solid #fff; */
    }
    .i4{
        width: 50px;
        position: absolute;
        display: flex;
        margin-left: 290px;
        margin-top: 65px;
        /* border: 1px solid #fff; */
    }
    .ctxt{
        color: #fff;
        font-size: 50px;
        position: absolute;
        margin-top: 90px;
        display: flex;
        align-items: center;
        text-align: center;
        margin-left: 125px;
    }
    .list{
        color: #fff;
        font-size: 24px;
        line-height: 50px;
        margin-top: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .hbtn{
        width: 50px;
        /* background: #fff; */
        margin-left: 190px;
        margin-top: 50px;
    }
    .footer{
        position: absolute;
        margin-top: 120px;
        margin-left: -83px;
        font-size: 20px;
    }
}
