html,body{
    width: 100%;
    /* height: 160vh; */
    padding: 0;
    margin: 0;
    /* background: rgb(124, 124, 124)5a5; */
    touch-action: pan-y;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
a{
    text-decoration: none;
}
nav{
    width: 100%;
    height: 60px;
    display: flex;
    /* margin-top: -50px; */
    justify-content: center;
    position: fixed;
    background: #fff;
    /* position: relative; */
    /* border: 1px dashed #000; */
}
.logo{
    width: 200px;
    /* border: 1px dashed #000; */
}
#wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
}
.panels{
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
    z-index: 1000;
    /* border: 1px dashed #ff2e2e; */
}
#a{
    background: #fff;
    position: fixed;
    top: 0;
    z-index: -99;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px dashed #000; */
}
#b{
    margin-top: 75vh;
    /* height: 10%; */
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    /* border: 1px dashed #000; */
}
.pro_pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* margin-top: -150px; */
    margin-right: auto;
    margin-left: auto;
    z-index: 0;
    filter: drop-shadow(0px 4px 10px rgb(0, 0, 0.27));
    /* border: 1px dashed #000; */
}
.name{
    margin-top: 20px;
    font-size: 50px;
    font-weight: 600;
    /* border: 1px dashed #000; */
}
.title{
    font-size: 35px;
    margin-top: 10px;
    /* border: 1px dashed #000; */
}
.socialicons{
    width: 100%;
    display: flex;
    /* position: absolute; */
    /* position: fixed; */
    /* padding-top: 100px; */
    justify-content: center;
    /* border: 1px dashed #000; */
    position: relative;
    /* top: 0; */
}
.icon{
    color: #ffffff;
    font-size: 40px;
    margin: 15px;
    /* border: 1px dashed #000; */
}
.line{
    position: absolute;
    width: 120px;
    /* color: #fff; */
    top: 20px;
    left: 0;
    right: 0;
    /* background: #fff; */
    border: 2px solid #fff;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 10px rgb(255, 255, 255));
}
.ctxt{
    color: #fff;
    font-size: 50px;
    /* position: absolute; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-left: 125px; */
}
.list{
    color: #fff;
    font-size: 24px;
    line-height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
